html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

h1 {
    margin: 20px;
    color: rgb(127, 253, 0);
}

h1:hover {
    transition: 300ms;
    color: rgb(255, 140, 0);
}

h2 {
    line-height: 50px;
}

header {
    display: flex;
    text-align: left;
    color: white;
    background-image: url(../images/headerbckgrnd1.jpg);
    background-size: contain;
    background-position: bottom;
    justify-content: space-around;
    align-items: center;
}

.button {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: rgb(222, 184, 135);
    width: 325px;
    padding: 15px;
    border-radius: 15px;
    margin: 30px auto;
    font-size: 35px;
    box-shadow: 4px 4px 3px rgb(127, 255, 0);
}

.button:hover {
    background-color: darkorange;
    color: black;
    cursor: pointer;
    transition: 400ms;
}

body {
    color: rgb(255, 140, 0);
    height: 100%;
    position: relative;
    background-image: url(../images/backgrndimg.png);
    text-align: center;
    margin: 0;
    overflow: hidden;
}

a {
    color:rgb(127, 253, 0);   
    text-decoration: none; 
    margin: 10px;
}

#main {
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
}

nav a:hover {
    transition: 300ms;
    color: rgb(255, 140, 0);
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

